---
interface Props {
  src: string;
  alt: string;
  width?: number;
  height?: number;
}

const { src, alt, width = 420, height = 420 } = Astro.props;
---

<div
  class="opacity-0 relative w-56 h-56 sm:w-64 sm:h-64 md:w-72 md:h-72 lg:w-88 lg:h-88 xl:w-[24rem] xl:h-[24rem] mb-12 lg:mb-0 pb-8 flex items-center justify-center animate-fade-in-up"
>
  <!-- Gradient Background Effect -->
  <div
    class="absolute inset-0 bg-gradient-to-tr from-violet-600 to-violet-400 rounded-full opacity-20 blur-3xl"
  >
  </div>

  <!-- Profile Image -->
  <img
    alt={alt}
    width={width}
    height={height}
    decoding="async"
    data-nimg="1"
    class="relative rounded-full border-4 border-white dark:border-zinc-800 shadow-2xl object-cover object-center translate-y-8"
    style="color:transparent"
    srcset={`${src} 1x, ${src} 2x`}
    src={src}
  />
</div>
